---
---
<section class="py-20 bg-slate-50" id="ubicacion">
  <div class="max-w-300 mx-auto px-4">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-16 items-center">

      <div class="flex flex-col gap-8">
        <div>
          <h2 class="text-slate-900 text-3xl font-bold leading-tight">Visítanos</h2>
          <div class="h-1.5 w-16 bg-[#5600b2] mt-3 rounded-full"></div>
        </div>
        <div class="space-y-6">

          <div class="flex items-start gap-5">
            <div class="shrink-0 w-10 h-10 bg-[#5600b2]/10 rounded-full flex items-center justify-center">
              <span class="material-symbols-outlined text-[#5600b2]">location_on</span>
            </div>
            <div>
              <p class="font-bold text-slate-900">Dirección</p>
              
              <p class="text-slate-600">Av. Principal 123, Torre Médica, Nivel 4.<br/>Ciudad de México, CP 01234.</p>
            </div>
          </div>

          <div class="flex items-start gap-5">
            <div class="shrink-0 w-10 h-10 bg-[#5600b2]/10 rounded-full flex items-center justify-center">
              <span class="material-symbols-outlined text-[#5600b2]">schedule</span>
            </div>
            <div>
              <p class="font-bold text-slate-900">Horarios</p>
              
              <p class="text-slate-600">Lunes a Viernes: 9:00 AM - 7:00 PM</p>
              <p class="text-slate-600">Sábados: 9:00 AM - 2:00 PM</p>
            </div>
          </div>

        </div>
      </div>

      <div class="w-full h-100 bg-slate-200 rounded-3xl overflow-hidden relative border border-slate-200 shadow-lg">
        <div class="absolute inset-0 bg-cover bg-center opacity-90"
          style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuCi0AksEPc_fAfXdkDd-mvcEa3eeNox3OOV92Fa44RKhuPzkJVAuIStWSgXo2g6AW4FRDj6FD4PaudrGFGinTjgmDbjJBVQrCZteAYU2XLLtXb0OxvTwb0ZzDRZSfV7cGkxeUdeFDUZzbnhD83L579sJzRJLge9gcxdWIQo0Wcpk3MSnMk6oWGMkCA_3_53ZewVw8zy7mGIIfGuiyMtOizULo-y7jlhw54BVVKb226f9o6iAhHIo6DLsJbRYLVvzpX1e6sAl433mRvn');">
        </div>
        <div class="absolute inset-0 flex items-center justify-center">
          <div class="bg-[#5600b2] p-4 rounded-full shadow-2xl animate-bounce">
            <span class="material-symbols-outlined text-white text-3xl">location_on</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>